/*
* TABLE OF CONTENTS 
*******************
* Global Styles (Tables)
* Links
*******************
*/

/* Global Styles */
table {
  background-color: honeydew;
  font-size: 18px;
  border: 3px solid black;
  padding: 5px;
  margin: auto;
}
a {
  font-color: purple;
}
