/*
* TABLE OF CONTENTS 
*******************
* Global Styles (Tables)
* Links
*******************
*/

/* Global Styles */
table {
  background-color: honeydew;
  font-size: 18px;
  border: 3px solid black;
  padding: 5px;
  margin: auto;
}
table.header {
  font-weight: bold;
  font-size: 20px;
}
a.link:link {
  font-color: purple;
}
a.link:visited {
  font-color: green;
}
a.link:hover {
  color: gray;
}
