/* Global Styles */
table, tr, td {
  background-color: honeydew;
  font-size: 18px;
  border: 1px solid black;
  padding: 5px;
  margin: auto;
}
td.heading {
  border: 1px solid black;
  font-weight: bold;
  font-size: 20px;
}
body table:first-of-type {
  color: red;
}
